<div class="d-flex justify-content-center position-relative">
  <!-- <div class="bg-primary text-white py-5 mb-5 w-100"> -->
  <div class="bg-[#003366] text-white py-4 mb-4"> <!-- Usando el azul oscuro del primer formulario -->
    <div class="container mx-auto text-center">
      <h2 class="text-3xl font-bold tracking-wide mb-2">SEGURIDAD INDUSTRIAL</h2>
    </div>
    <div class="container">
      <form [formGroup]="form">

        <!-- SECCIÓN DE INFORMACIÓN -->
        <div class="form-section rounded-lg overflow-hidden shadow-lg mb-5">
          <div class="card border-0">
            <div class="card-header bg-primary-gradient text-white py-3">
              <h3 class="card-title text-center mb-0 font-weight-bold">
                <i class="bi bi-building me-2"></i>INFORMACIÓN DE LA EMPRESA
              </h3>
            </div>

            <div class="card-body bg-white p-4">
              <!-- Primera fila: Nombre y Correo -->
              <div class="form-row mb-4">
                <div class="form-group position-relative">
                  <label for="nombreEmpresa" [class.float-label]="shouldFloatLabel('nombreEmpresa')">
                    <i class="bi bi-buildings"></i> NOMBRE EMPRESA
                  </label>
                  <input id="nombreEmpresa" type="text" class="form-control rounded-pill"
                    formControlName="nombreEmpresa" placeholder="Ingresar" (focus)="onFocus('nombreEmpresa')"
                    (blur)="onBlur('nombreEmpresa')">
                  <div class="invalid-feedback"
                    *ngIf="form.get('nombreEmpresa')?.touched && form.get('nombreEmpresa')?.errors?.['required']">
                    El nombre de la empresa es requerido
                  </div>
                </div>
                <div class="form-group position-relative">
                  <label for="correoElectronico" [class.float-label]="shouldFloatLabel('correoElectronico')">
                    <i class="bi bi-envelope-at"></i> CORREO ELECTRÓNICO
                  </label>
                  <input id="correoElectronico" type="email" class="form-control rounded-pill"
                    formControlName="correoElectronico" placeholder="nombre@empresa.com"
                    (focus)="onFocus('correoElectronico')" (blur)="onBlur('correoElectronico')">
                  <div class="invalid-feedback"
                    *ngIf="form.get('correoElectronico')?.touched && form.get('correoElectronico')?.errors?.['required']">
                    El correo electrónico es requerido
                  </div>
                  <div class="invalid-feedback"
                    *ngIf="form.get('correoElectronico')?.touched && form.get('correoElectronico')?.errors?.['email']">
                    Ingrese un correo electrónico válido
                  </div>
                </div>
              </div>

              <!-- Segunda fila: Actividad Económica y Cantidad de Trabajadores -->
              <div class="form-row mb-4">
                <div class="form-group position-relative">
                  <label for="actividadEconomica" [class.float-label]="shouldFloatLabel('actividadEconomica')">
                    <i class="bi bi-graph-up"></i> ACTIVIDAD ECONÓMICA
                  </label>
                  <input id="actividadEconomica" type="text" class="form-control rounded-pill"
                    formControlName="actividadEconomica" [ngbTypeahead]="buscarActividad"
                    [inputFormatter]="formatearActividad" [resultFormatter]="formatearActividad"
                    (selectItem)="seleccionarActividad($event)"
                    [class.is-invalid]="form.get('actividadEconomica')?.touched && !actividadSeleccionada"
                    placeholder="Buscar actividad económica"
                    (focus)="onFocusActividadEconomica()"
                    (blur)="onBlur('actividadEconomica')">
                  <div class="invalid-feedback"
                    *ngIf="form.get('actividadEconomica')?.touched && !actividadSeleccionada">
                    Debe seleccionar una actividad económica válida
                  </div>
                </div>

                <div class="form-group">
                  <div class="input-group">
                    <div class="sub-group me-2">
                      <label class="cantidad" for="cantidadHombres"
                        [class.float-label]="shouldFloatLabel('cantidadHombres')">
                        <i class="bi bi-person-standing"></i> HOMBRES
                      </label>
                      <input type="number" id="cantidadHombres" class="form-control rounded-pill"
                        formControlName="cantidadHombres" placeholder="0" min="0" (focus)="onFocus('cantidadHombres')"
                        (blur)="onBlur('cantidadHombres')">
                      <div class="invalid-feedback"
                        *ngIf="form.get('cantidadHombres')?.touched && form.get('cantidadHombres')?.errors?.['min']">
                        La cantidad debe ser mayor o igual a 0
                      </div>
                    </div>
                    <div class="sub-group">
                      <label class="cantidad" for="cantidadMujeres"
                        [class.float-label]="shouldFloatLabel('cantidadMujeres')">
                        <i class="bi bi-person-standing-dress"></i> MUJERES
                      </label>
                      <input type="number" id="cantidadMujeres" class="form-control rounded-pill"
                        formControlName="cantidadMujeres" placeholder="" min="0" (focus)="onFocus('cantidadMujeres')"
                        (blur)="onBlur('cantidadMujeres')">
                      <div class="invalid-feedback"
                        *ngIf="form.get('cantidadMujeres')?.touched && form.get('cantidadMujeres')?.errors?.['min']">
                        La cantidad debe ser mayor o igual a 0
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Tercera fila: Tipo de Empresa y Provincia -->
              <div class="form-row mb-4 d-grid intercambiar-columnas" id="sectionThree">
                <div class="form-group position-relative">
                  <label for="empresaTipo" [class.float-label]="shouldFloatLabel('empresaTipo')">
                    <i class="bi bi-building-gear"></i> EMPRESA PÚBLICA/PRIVADA
                  </label>
                  <select id="empresaTipo" class="form-select rounded-pill" formControlName="empresaTipo"
                    (focus)="onFocus('empresaTipo')" (blur)="onBlur('empresaTipo')">
                    <option value=""></option>
                    <option value="Pública">Pública</option>
                    <option value="Privada">Privada</option>
                  </select>
                  <div class="invalid-feedback"
                    *ngIf="form.get('empresaTipo')?.touched && form.get('empresaTipo')?.errors?.['required']">
                    Debe seleccionar el tipo de empresa
                  </div>
                </div>

                <div class="form-group position-relative">
                  <label for="provincia" [class.float-label]="shouldFloatLabel('provincia')">
                    <i class="bi bi-pin-map"></i> PROVINCIA
                  </label>
                  <select id="provincia" class="form-select rounded-pill" formControlName="provincia"
                    (focus)="onFocus('provincia')" (blur)="onBlur('provincia')">
                    <option value=""></option>
                    <option *ngFor="let provincia of provincias" [value]="provincia.name">
                      {{provincia.name}}
                    </option>
                  </select>
                  <div class="invalid-feedback"
                    *ngIf="form.get('provincia')?.touched && form.get('provincia')?.errors?.['required']">
                    Debe seleccionar una provincia
                  </div>
                </div>
              </div>

              <!-- Cuarta fila: Ciudad -->
              <div class="form-row mb-4">
                <div class="form-group position-relative">
                  <label for="ciudad" [class.float-label]="shouldFloatLabel('ciudad')">
                    <i class="bi bi-geo-alt"></i> CIUDAD
                  </label>
                  <select id="ciudad" class="form-select rounded-pill" formControlName="ciudad"
                    (focus)="onFocus('ciudad')" (blur)="onBlur('ciudad')">
                    <option value=""></option>
                    <option *ngFor="let ciudad of ciudades" [value]="ciudad.name">
                      {{ciudad.name}}
                    </option>
                  </select>
                  <div class="invalid-feedback"
                    *ngIf="form.get('ciudad')?.touched && form.get('ciudad')?.errors?.['required']">
                    Debe seleccionar una ciudad
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- SECCIÓN DE RESUMEN -->
        <div class="form-section rounded-lg overflow-hidden shadow-lg mb-5">
          <div class="card border-0">
            <div class="card-header bg-secondary-gradient text-white py-3">
              <h3 class="card-title text-center mb-0 font-weight-bold">
                <i class="bi bi-file-earmark-text me-2"></i>RESUMEN
              </h3>
            </div>
            <div class="card-body resumen bg-white p-4">
              <!-- Tipo de Institución -->
              <div class="form-group mb-4 position-relative">
                <label for="tipoInstitucion" [class.float-label]="shouldFloatLabel('tipoInstitucion')">
                  <i class="bi bi-building"></i> TIPO DE EMPRESA/INSTITUCIÓN
                </label>
                <select id="tipoInstitucion" class="form-select rounded-pill bg-light" formControlName="tipoInstitucion"
                  [disabled]="true" (focus)="onFocus('tipoInstitucion')" (blur)="onBlur('tipoInstitucion')">
                  <option value=""></option>
                  <option value="Micro">Micro</option>
                  <option value="Pequeña">Pequeña</option>
                  <option value="Mediana A">Mediana A</option>
                  <option value="Mediana B">Mediana B</option>
                  <option value="Grande">Grande</option>
                </select>
              </div>

              <!-- Número de Trabajadores y Nivel de Riesgo -->
              <div class="form-row mb-4">
                <div class="form-group position-relative">
                  <label for="numeroTrabajadores" [class.float-label]="shouldFloatLabel('numeroTrabajadores')">
                    <i class="bi bi-people"></i> NÚMERO DE TRABAJADORES
                  </label>
                  <input type="text" class="form-control rounded-pill bg-light" formControlName="numeroTrabajadores"
                    [readonly]="true" placeholder="Número de trabajadores" (focus)="onFocus('numeroTrabajadores')"
                    (blur)="onBlur('numeroTrabajadores')">
                </div>

                <div class="form-group position-relative">
                  <label [class.float-label]="shouldFloatLabel('numeroTrabajadores')">
                    <i class="bi bi-exclamation-triangle"></i> NIVEL DE RIESGO
                  </label>
                  <input type="text" class="form-control rounded-pill bg-light" formControlName="nivelDeRiesgo"
                    [readonly]="true" placeholder="Nivel de riesgo" (focus)="onFocus('numeroTrabajadores')"
                    (blur)="onBlur('numeroTrabajadores')">
                </div>
              </div>

              <!-- Monitor de Seguridad y Personal de Salud -->
              <div class="form-row mb-4">
                <div class="form-group position-relative">
                  <label for="monitorSeguridad" [class.float-label]="shouldFloatLabel('monitorSeguridad')">
                    <i class="bi bi-shield-check"></i> MONITOR O TÉCNICO DE SEGURIDAD E HIGIENE
                  </label>
                  <textarea id="monitorSeguridad" class="form-control bg-light" formControlName="monitorSeguridad"
                    [disabled]="true" readonly (focus)="onFocus('monitorSeguridad')"
                    (blur)="onBlur('monitorSeguridad')"></textarea>
                </div>

                <div class="form-group position-relative">
                  <label [class.float-label]="shouldFloatLabel('numeroTrabajadores')">
                    <i class="bi bi-heart-pulse"></i> PERSONAL DE SALUD EN EL TRABAJO
                  </label>
                  <textarea class="form-control bg-light" formControlName="personalSaludDetalles" [readonly]="true"
                    rows="3" placeholder="Detalles del personal de salud" (focus)="onFocus('numeroTrabajadores')"
                    (blur)="onBlur('numeroTrabajadores')"></textarea>
                </div>
              </div>

              <!-- Horas Mínimas de Gestión -->
              <div class="form-row mb-4">
                <div class="form-group position-relative" id="sectionFour">
                  <label [class.float-label]="shouldFloatLabel('numeroTrabajadores')">
                    <i class="bi bi-clock"></i> HORAS MÍNIMAS DE GESTIÓN EN SEGURIDAD
                  </label>
                  <input type="text" class="form-control rounded-pill bg-light" formControlName="horasMinimasGestion"
                    [readonly]="true" placeholder="Horas mínimas de gestión" (focus)="onFocus('numeroTrabajadores')"
                    (blur)="onBlur('numeroTrabajadores')">
                </div>
              </div>

              <!-- Comité Paritario -->
              <div class="form-group mb-4 position-relative" id="sectionFour">
                <label for="comiteParitario" [class.float-label]="shouldFloatLabel('comiteParitario')">
                  <i class="bi bi-people-fill"></i> COMITÉ PARITARIO O DELEGADO DE SEGURIDAD
                </label>
                <select id="comiteParitario" class="form-select rounded-pill bg-light" formControlName="comiteParitario"
                  (focus)="onFocus('comiteParitario')" (blur)="onBlur('comiteParitario')" [disabled]="true">
                  <option value="SI - REQUIERE UN COMITÉ PARITARIO">SI - REQUIERE UN COMITÉ PARITARIO</option>
                  <option value="SI - REQUIERE UN DELEGADO DE SEGURIDAD">SI - REQUIERE UN DELEGADO DE SEGURIDAD</option>
                  <option value="NO REQUIERE">NO REQUIERE</option>
                </select>
                <div class="invalid-feedback"
                  *ngIf="form.get('comiteParitario')?.touched && form.get('comiteParitario')?.errors?.['required']">
                  Debe seleccionar una opción
                </div>
              </div>

              <!-- Información del Decreto -->
              <div class="form-group position-relative">
                <label [class.float-label]="shouldFloatLabel('decretoInformacion')">
                  <i class="bi bi-journal-text"></i> INFORMACIÓN DEL DECRETO
                </label>
                <textarea id="decretoInformacion" class="form-control bg-light" formControlName="decretoInformacion"
                  readonly></textarea>
              </div>
            </div>
          </div>
        </div>


        <!-- Botones de Navegación -->
        <div class="row mt-4 mb-5">
          <div class="col-12 d-flex justify-content-between">
            <button class="btn btn-outline-primary rounded-pill px-4 py-2" (click)="regresar()">
              <i class="bi bi-arrow-left me-2"></i>Regresar
            </button>
            <button class="btn btn-primary rounded-pill px-4 py-2" (click)="continuar()"
              [disabled]="!form.valid || !actividadSeleccionada">
              Continuar<i class="bi bi-arrow-right ms-2"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <app-form-field-counter [form]="form"
  [requiredFields]="['nombreEmpresa', 'correoElectronico', 'actividadEconomica', 'cantidadHombres', 'cantidadMujeres', 'empresaTipo', 'provincia', 'ciudad']"
  [fieldLabels]="{
    nombreEmpresa: 'Nombre de la Empresa',
    correoElectronico: 'Correo Electrónico',
    actividadEconomica: 'Actividad Económica',
    cantidadHombres: 'Cantidad de Hombres',
    cantidadMujeres: 'Cantidad de Mujeres',
    empresaTipo: 'Tipo de Empresa',
    provincia: 'Provincia',
    ciudad: 'Ciudad'
  }">
</app-form-field-counter>
</div>
