<section class="hero">
  <div class="hero-content">
      <h1>PrevLab360</h1>
      <p>Potencia tu gestión de seguridad industrial y salud ocupacional con nuestro ecosistema de herramientas: cumple automáticamente con la normativa vigente, calcula índices reactivos y proactivos, incorpora la prevención de riesgos psicosociales y accede a módulos de auditoría, formación y seguimiento para optimizar y proteger tu empresa en cada paso.</p>
  </div>
  <div class="hero-image">
      <img style="height: 250px; border-radius: 10px;" src="/assets/calculadora.png" alt="Calculadora">
  </div>
</section>

<section class="services fade-in-section">
  <h2>Gestor de Índices y Normativas</h2>
  <div class="service-cards">
      <div class="card">
          <img src="/assets/img3.jpg" alt="Industria y seguridad">
          <h3>Calculadora de<br> Riesgos </h3>
          <button class="btn-ir" (click)="irAlFormulario()">Ir a Calculadora</button>
      </div>
      <div class="card">
        <img src="/assets/reporteRiesgos.jpg" alt="Industria y seguridad">
        <h3>Estadísticas de Accidentabilidad_IESS</h3>
        <button class="btn-ir" (click)="navegarASeguridad()">Ir PowerBI</button>
    </div>
  </div>
</section>

<section class="technology fade-in-section d-flex align-content-center justify-content-center p-0">
  <div class="tech-content">
      <h2>USO DE LA <span>TECNOLOGÍA</span> PARA MEJORAR EL APRENDIZAJE</h2>
      <ul>
          <li class="autonomous-learning"><strong>Aprendizaje Autónomo</strong><p class="item-description">Desarrolla habilidades a tu propio ritmo con herramientas que se adaptan a tus necesidades.</p></li>
          <li class="precise-calcs"> <strong>Cálculos Precisos</strong><p class="item-description">Obtén resultados exactos para tus problemas técnicos con nuestras calculadoras especializadas.</p></li>
          <li class="guaranteed-info"><strong>Información Garantizada</strong><p class="item-description">Accede a datos verificados y métodos probados por expertos en cada disciplina.</p></li>
      </ul>
  </div>
  <!-- <div class="tech-image">
      <img style="height: 200px;" src="/assets/calculadora.png" alt="Tecnología">
  </div> -->
</section>
