<div class="container">
  <ng-container *ngIf="!isFormRoute">
    <div class="button-container">
      <!-- <div class="info-section">
        <h1>Seguridad Industrial</h1>
         <p>
          La carrera de Seguridad Industrial se centra en la protección de la salud y el bienestar en entornos laborales.
          Los profesionales en este campo desarrollan estrategias para prevenir accidentes y enfermedades, promoviendo un
          ambiente seguro y saludable. Con un enfoque en la normativa y la gestión de riesgos, esta disciplina es esencial
          para garantizar la integridad de los trabajadores y la sostenibilidad de las organizaciones.
        </p>
        <button class="btn-primary" (click)="irAlFormulario()" >
          Ir al Formulario
        </button>

      </div> -->
      <div class="iframe-container">
        <iframe
          src="https://app.powerbi.com/view?r=eyJrIjoiMGRhOGQyZWItOThhYS00MmE4LWI4ZWYtODVkMGFkOWM0MGI0IiwidCI6IjZhNmNlOGVkLTBlMGYtNDY4YS05Yzg1LWU3Y2U0ZjIxZjRmMiJ9"
          frameborder="0"
          title="Power BI Dashboard">
        </iframe>

      </div>
    </div>
  </ng-container>
  <div class="router-content" [class.full-width]="isFormRoute">
    <router-outlet></router-outlet>
  </div>
</div>
